body{
    background-image: url("poza_fundal.jpg");
    height: 100vh;
    width:100vw;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header
{
  word-spacing: -10px;
  height: 10vh;
  width:40vw;
  margin: 0px;
  top: 16vh;
  left: 18vw;
  bottom: 10000px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  -webkit-box-reflect: below -5px linear-gradient(transparent, black);
  font-size: 50px;

}
.container2
{
  color:transparent;
  font-size: large;
  background-color: brown;
  opacity: 0;
  margin-top: 40vh;
  height: 60vh;
  width:50vw;
  transition:opacity 3s;
  transition:color 5s;
  
}



.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.container2:hover
{
  opacity:0.8;
  color:aquamarine;
}
nav{
  position: fixed;
  position: top;
  right:0;
  top: 0;
  left:0; 
  width: 100%; 
  z-index:1000;
  
}

nav ul{
  list-style-type: none;
  margin: 2px;
  padding: 8px 10px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

nav li{
  float: left;
}

li a {
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
}

nav li:hover
{
  padding: 8px 10px;
  background-color: brown;
}

.dropdown-content a
{
  opacity: 0.5;
  padding: 8px 10px;
}

.dropdown-content a:hover
{
  opacity: 0.5;
  background-color: gray;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: brown;}
}

.dropdown-content
{
  display:none; 
  position:absolute;
}

.dropdown:hover .dropdown-content
{
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
  display:flex;
  flex-flow:column nowrap;
  background-color: black;
}


  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}


.header span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  animation: header 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes header {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

#container {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 10000px;
}

.dog-head {
  z-index: 100;
  animation: head-move 2s ease-in-out infinite;
}

div.dog-body {
  height: 100px;
  width: 225px;
  margin-top: -175px;
  margin-left: 40px;
  background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
  background-repeat: no-repeat;
}

@keyframes head-move {
  50% { 
    -webkit-transform: rotate(-1.5deg); 
  }
}
@media only screen and (max-width: 768px)
{
  body{
    background-color: black;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* body {
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;S
    min-height: 100vh;
  } */

.header
{
  word-spacing: -5px;
  height: 75px;
  margin: 0;
  top: 100px;
  left: 300px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  -webkit-box-reflect: below -5px linear-gradient(transparent, black);
  font-size: 50px;

}
nav{
  position: fixed;
  position: top;
  right:0;
  top: 0;
  left:0; 
  width: 100%; 
  z-index:1000;
  
}

nav ul{
  list-style-type: none;
  margin: 2px;
  padding: 8px 10px;
  overflow: hidden;
  background-color: red;
  display: flex;
  justify-content: space-around;
}

nav li{
  float: left;
}

li a {
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
}

nav li:hover
{
  padding: 8px 10px;
  background-color: brown;
}

.dropdown-content a
{
  opacity: 0.5;
  padding: 8px 10px;
}

.dropdown-content a:hover
{
  opacity: 0.5;
  background-color: gray;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: brown;}
}

.dropdown-content
{
  display:none; 
  position:absolute;
}

.dropdown:hover .dropdown-content
{
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
  display:flex;
  flex-flow:column nowrap;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}


.header span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  animation: header 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes header {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

#container {
    margin-top: 200px;
    margin-left: -140px;
}

.dog-head {
  z-index: 100;
  animation: head-move 2s ease-in-out infinite;
}

div.dog-body {
  height: 100px;
  width: 225px;
  margin-top: -175px;
  margin-left: 40px;
  background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
  background-repeat: no-repeat;
}

@keyframes head-move {
  50% { 
    -webkit-transform: rotate(-1.5deg); 
  }
}
}
@media only screen and (max-width: 600px)
{
  body{
    background-color: black;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* body {
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;S
    min-height: 100vh;
  } */

.header
{
  word-spacing: -5px;
  height: 75px;
  margin: 0;
  top: 100px;
  left: 300px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  -webkit-box-reflect: below -5px linear-gradient(transparent, black);
  font-size: 50px;

}
nav{
  position: fixed;
  position: top;
  right:0;
  top: 0;
  left:0; 
  width: 100%; 
  z-index:1000;
  
}

nav ul{
  list-style-type: none;
  margin: 2px;
  padding: 8px 10px;
  overflow: hidden;
  background-color: blue;
  display: flex;
  justify-content: space-around;
}

nav li{
  float: left;
}

li a {
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
}

nav li:hover
{
  padding: 8px 10px;
  background-color: brown;
}

.dropdown-content a
{
  opacity: 0.5;
  padding: 8px 10px;
}

.dropdown-content a:hover
{
  opacity: 0.5;
  background-color: gray;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: brown;}
}

.dropdown-content
{
  display:none; 
  position:absolute;
}

.dropdown:hover .dropdown-content
{
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 8px 10px;
  text-decoration: none;
  display:flex;
  flex-flow:column nowrap;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}


.header span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  animation: header 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes header {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

#container {
    margin-top: 350px;
    margin-left: -300px;
}

.dog-head {
  z-index: 100;
  animation: head-move 2s ease-in-out infinite;
}

div.dog-body {
  height: 100px;
  width: 225px;
  margin-top: -175px;
  margin-left: 40px;
  background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
  background-repeat: no-repeat;
}

@keyframes head-move {
  50% { 
    -webkit-transform: rotate(-1.5deg); 
  }
}
}